@import url("reset.css");

@font-face {
    font-family: 'Lato';
    src: url('../fonts/') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Medium.woff2') format('woff2'),
        url('../fonts/Exo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Thin.woff2') format('woff2'),
        url('../fonts/Exo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular-Italic.woff2') format('woff2'),
        url('../fonts/Exo-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular.woff2') format('woff2'),
        url('../fonts/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.row {
    width: 100%;
}




/* header */

.header {
    position: relative;
}

/* контент сделать абсолют, а виде можно просто вставить как блок -> тогда ему задвать высоту  */

.header-content {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content__title {
    font-size: 1.25em;
    font-family: 'Exo';
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
}

.header-content__play {
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #8286a3;
    position: relative;
}

.header-content__play::after {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-left: 8px solid #fff;
    left: calc(50% - 4px);
    top: calc(25%);
}

.header__video {
  width: 100%;
  /* height: 80vh; */
}

section {
    height: 700px;
}