@import url("reset.css");

@font-face {
    font-family: 'Lato';
    src: url('../fonts/') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Medium.woff2') format('woff2'),
        url('../fonts/Exo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Thin.woff2') format('woff2'),
        url('../fonts/Exo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular-Italic.woff2') format('woff2'),
        url('../fonts/Exo-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular.woff2') format('woff2'),
        url('../fonts/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.row {
    width: 100%;
}

.main-option {
    font-family: 'Exo';
    font-weight: 500;
    font-size: 16px;
    color: #282828;
}

.section-content_alt-text-color {
    color: #ff6d6d;
}


/* header */

.header {
    position: relative;
    min-height: 200px;
}

/* контент сделать абсолют, а виде можно просто вставить как блок -> тогда ему задвать высоту  */

.header-content {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content__title {
    font-size: 1.25em;
    font-family: 'Exo';
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
}

.header-content__play {
    cursor: pointer;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #8286a3;
    position: relative;
    margin-bottom: 20px;
}

.header-content__play::after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-left: 12px solid #fff;
    left: calc(50% - 4px);
    top: calc(25%);
}

.header-content .button {
    margin-bottom: 20px;
}

.button {
    display: block;
    padding: 18px 52px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #ff6d6d;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.35s;
    letter-spacing: 0.2em;
}

.button:hover {
    background-color: #fff;
    color: #ff6d6d;
    transition: background-color 0.35s;
}


.note {
    display: flex;
    font-size: 14px;
}

.note__star {
    vertical-align: baseline; 
    position: relative; 
    font-size: 70%;
    top: -0.3em;
    left: -0.3em;
}


.header__video {
  width: 100%;
  height: 100%;
  /* height: 80vh; */
}

/* new design */


.section-content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.section-content__title {
    color: #ff6d6d;
    letter-spacing: 0.2em;
    line-height: 25px;
    text-transform: uppercase;
}

.section-content__subtitle {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2em;
}

.section-content__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 1em;
    letter-spacing: 0.04em;
    color: rgba(40, 40, 40, 0.68);
}

.section-content__text:last-child {
    margin-bottom: 0;
}

/* features */

.content-group {
    display: flex;
}

.content-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-group-item__icon {
    height: 65px;
    width: 65px;
    margin-bottom: 1em;
}

.content-group-item__title {
    font-size: 22px;
    margin-bottom: 0.5em;
}

.content-group-item__text {
    color: rgba(40, 40, 40, 0.68);
    line-height: 26px;
}

/* client */


.client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.client-item__icon {
    height: 76px;
    width: 76px;
    margin-bottom: 1em;
}

.client-item__title {
    font-size: 22px;
    color: #fff;
}

.client-item__subtitle {
    color: #ff6d6d;
    margin-bottom: 1em;
}

.client-item__text {
    color: rgba(255, 255, 255, 0.68);
    line-height: 26px;
    font-size: inherit;
}


.client {
    background-image: url(../../images/clients-bg.png);
    background-size: contain;
}

/* new features */


/* sign-up */

.sign-up {
    background-color: #323969;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 95px 15px 85px 15px;
}

.sign-up .section-content > .section-content__subtitle {
    color: #fff;
}

.sign-up-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15px;
}

.sign-up-form__input {
    width: 20%;
    height: 49px;
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: rgba(246, 245, 243, 0.2);
    opacity: 0.502;
    color: #f6f5f3;
    padding: 0 28px;
    outline: none;
    box-sizing: border-box;
}

.sign-up-form__input::-webkit-input-placeholder {
    color: #fff;
    text-transform: uppercase;
}

.sign-up-form__input[type="submit"] {
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff6d6d;
    border: none;
    color: #f6f5f3;
    opacity: 1;
    transition: background-color 0.35s;
}

.sign-up-form__input[type="submit"]:hover {
    color: #ff6d6d;
    border: 1px solid #ff6d6d;
    background-color: #f6f5f3;
    transition: background-color 0.35s;
}

.sign-up-terms {
    color: #f6f5f3;
    letter-spacing: 0.04em;
    opacity: 0.6;
}

.sign-up-terms__link {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}

/* footer */

.footer {
    display: flex;
    flex-direction: row;
    padding: 90px 15px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    color: rgba(40, 40, 40, 0.659);
    padding: 0 15px;
    line-height: 26px;
}

.footer-block__title {
    font-size: 22px;
    line-height: 50px;
    color: #282828;
}
  
.footer-block-list {
    display: flex;
    flex-direction: column;
}

.footer-block-list__item {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.form-newsletter {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 263px;
}

.form-newsletter__input {
    border: 1px solid rgb(78, 78, 94);
    border-radius: 3px;
    background-color: rgba(141, 141, 141, 0.2);
    opacity: 0.4;   
    width: 100%;
    height: 49px;
    font-size: 16px;
    padding: 17px 55px 17px 28px;
    box-sizing: border-box;
}

.form-newsletter__input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.form-newsletter__button {
    background-color: #ff6d6d;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 52px;
    background-image: url(../pic/subscribe-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 3px 0px 0px rgba(14,15,15,0.15);
    cursor: pointer;
}

.footer-block-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 17px;
}

.footer-block-social__item {
    display: block;
    height: 22px;
    width: 22px;
    text-decoration: none;
    color: #cbcbcb;
    margin: 0 9px;
}

.icon-dribbble {
    /* border-radius: 50%;
    color: #fff;
    background-color: #cbcbcb; */
}

.dribbble, .facebook, .gplus, .twitter {
    background-repeat: no-repeat;
    background-position: center;
}

.dribbble {
    background-image: url(../pic/dribble.png);
}

.facebook {
    background-image: url(../pic/facebook.png);
}

.gplus {
    background-image: url(../pic/gplus.png);
}

.twitter {
    background-image: url(../pic/twitter.png);
}

.address {
    flex: 3;
}

.support, .about {
    flex: 2;
}

.newsletter {
    flex: 5;
}

@media (max-width: 1200px) {
    .design__desktop, .responsive-design__desktop, .client-desktop {
        display: none;
    }
}
  
@media screen and (max-width: 600px) {

    .main-option {
        /* font-size: 1.1em; */
    }

    .content-group, .footer, .sign-up-form {
        flex-direction: column;
    }

    .sign-up-form__input {
        width: 100%;
    }

    .header-content {
        position: absolute;
        top: 10%;
        left: 15%;
        right: 15%;
        bottom: 0;
        font-size: 1.1em;
    }

    .button {
        font-size: 0.9em;
        padding: 9px 26px;
    }

    .header-content .button {
        margin-bottom: 10px;
    }

    
    .header-content__play {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .header-content__play::after {
        border: 10px solid transparent;
        border-left: 10px solid #fff;
    }

    .note {
        font-size: 12px;
    }

}